<fieldset>
    <div class="form-group">
        <label for="playlist-title">{{ title }}</label><br>
        <input class="form-control" id="playlist-title" type="text" name="title" value="{{ playlist.title }}"/>
    </div>

    <div class="form-group">
        <label for="description">Description</label><br>
        <input class="form-control" id="description" type="text" name="description" value="{{ playlist.description }}"/>
    </div>

    <div class="form-group">
        <label for="playlist-video-ids">Videos</label><br/>
        <p class="text-muted">Add the ID of the videos you want to include in your playlist. Separate with a
            newline.</p>
        <textarea class="form-control" id="playlist-video-ids" name="video_ids" rows="10"/>{{
        "\n".join(playlist.video_ids) }}</textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Playlist</button>
        <a class="btn btn-danger" href="/">Cancel</a>
    </div>
</fieldset>