{% extends "base.html" %}

{% block content %}
<a href="/">Back to Home</a>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ playlist.title }}</h1>
        <p>{{ playlist.description }}</p>
        {% for video in playlist.videos %}
        <div class="card bg-light">
            <div class="card-body text-center">
                <iframe width="420" height="315" src="{{ video }}"></iframe>
            </div>
        </div>
        {% endfor %}

        <form method="POST" action="/playlists/{{ playlist._id }}/delete">
            <div class="btn-toolbar mt-2">
                <a class="btn btn-primary" href="/playlists/{{ playlist._id}}/edit">Edit</a>
                <button class="btn btn-danger mx-2" type="submit">Delete</button>
            </div>
        </form>
        <br>
        {% include "partials/comment_form.html" %}

        {% with comments=comments %}
        {% include "partials/comment.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}
