{% extends "base.html" %}

{% block content %}
<h1>Playlists</h1>

<a class="btn btn-dark mb-2" href="/playlists/new">New Playlist</a>

<div class="row">
    {% for playlist in playlists %}
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://img.youtube.com/vi/{{ playlist.video_ids[0] }}/0.jpg"
                 alt="Playlist image">
            <div class="card-body">

                <h2 class="card-title"><a href="/playlists/{{ playlist._id }}">{{ playlist.title or "No Title" }}</a></h2>
                <p class="card-text">{{ playlist.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}